requests
json
base64
sqlite3
shutil
uuid
wmi
psutil
subprocess
pyarmor==7.6.1
pyinstaller
glob
re
platform
Pillow 
zipfile
discord-webhook
pycryptodomex
pycryptodome
datetime
pywin32